@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

html{
	background: #333 url(../images/html-bg.jpg) 0 0 scroll repeat;
}

body{
	background: transparent url('../images/body-bg.png') center 0 repeat-x;
    position: relative;
    width: 100%;
    font: 13px/21px "Trebuchet MS",Arial,Helvetica,sans-serif;
  	color:#7B7A7A;
  	padding-bottom: 80px;
}

.full-wrapper{
	outline: 1px solid #000; /*Tmep*/
	max-width: 1010px;
	margin: 0 auto;
	background-color: #fff;
}


/*header and under head*/

.main-head{
	background: #000 url('../images/top-menu-bg.jpg') 0 0 repeat;
}

.main-head{
    padding: 20px 25px;
}


.top-menu a, .phone, .phone a, .main-menu a{
	font-weight: bold;
	position: relative;
}


.top-menu{
	margin:5px 0;
	max-width: 650px;
}

.top-menu a, .main-menu a{
	font-size: 14px;
	 margin: 3px 3px 3px 0;
	 padding-left: 20px;
	 position: relative;
}

.top-menu a:hover, .main-menu a:hover, .phone a{
	color: #FF3D5D;
}

.top-menu a:before{
	color: #fff;
    display: inline-block;
    font-size: 7px;
    left: 4px;
    margin-right: 9px;
    position: absolute;
    top: 7px;
    	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}



.top-menu a:first-child:before, .main-menu a:first-child:before{
	content: " ";
	margin: 0;
	visibility: hidden;
	display: none;
}

.phone{
	margin:5px 0;
}

.phone, .phone a{
	text-transform: capitalize;
	vertical-align: middle;
	font-size: 15px;
}

.phone a:hover{
	color: #fff                                ;
}

.under-head{
	max-width: 960px;
	margin: 15px auto;
}

.cart{
	margin:10px 0 0 0 ;
	padding: 5px 5px 5px 15px;
	font-size: 16px;
}

.cart-inner{
	color: #F13B59;
	font-weight: bold;
}

.cart-inner:before{
	color: #f00;
	font-size: 25px;
}

.cart-inner:hover:before{
	color: #333;
	text-shadow: 0 0 1px #826565;
}

.cart-innet > .cart_items_count{
	color: #000;
}

.search-box{
	margin: 10px 0 0 0 ;
}

.search-box input[type="search"]{
	width: 300px;
}

.search-box input[type="submit"]{
    display:block;
    height:100%;
    width:100%;
    background:none;
    border:none;
    position: relative;
    z-index: 3;
}

.s-submit:hover:before{
	text-shadow:0 0 1px #826565;
}

.s-submit{
	top:0;
	right: 0;
	display: inline-block;
	height: 100%;
	width: 50px;
}

.s-submit:before{
	color: #000000;
    font-size: 27px;
    left: 15px;
    position: absolute;
    top: 5px;
    z-index: 1;
}


.site-title a{
	display: block;
}

.site-title img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

/* THE END header and under-head*/

/*-------main menu-------*/

.main-menu{
	background: #fff url('../images/main-menu-bg.jpg') 0 0 repeat;
	padding: 20px;
	max-width: 960px;
	margin: 15px auto;
}

.main-menu a{
	color: #2A2A2A;
	padding: 3px;
	position: relative;
	padding-left: 20px;
	display: block;
}


.main-menu a:before{
	  color: #FF0000;
    display: inline-block;
    font-size: 7px;
    left: 4px;
    margin-right: 9px;
    position: absolute;
    top: 10px;
    vertical-align: middle;
    	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;

}


/*---THE END----main menu-------*/

/* --------slider-------*/

.slider{
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
}

.slider a, .banner a, .box >a{
	display: block;
}

.slider img, .banner img,.box >a img{
	max-width: 100%;
	height: auto;
	width: 100%;
	display: block;
}

.slider figcaption{
	left:0;
	top:0;
}

/*-------------THE END-------  slider  -*/

/*-----banner------------*/


.banner{
	margin:15px auto;
	max-width: 960px;
}

.banner figure{
	width: 49%;
	border: 1px solid #E8E8E8;
}

/*----------THE END---------slider----*/

/*---------the content----*/

.content >.title{
	max-width: 960px;
	margin: 15px auto;
}

.main-page-boxes{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
}


.title{
	border-bottom-color: #EFEFEF;
}

.main-page-boxes{
	overflow: hidden;
	width: 100%;
	text-align: center;
	word-spacing: 0;
	overflow: hidden;

}

.box{	 
	border: 1px solid #E8E8E8;
	display: inline-block;
    max-height: 550px;
    padding: 13px;
    position: relative;
    margin: 0 3px 10px;
    width: 24%;
}

.box-item-info{
	text-align: center;
	background-color: #CB2449;
	padding: 15px 5px;
}

.box-item-title a{
	color: #FBA8B9;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}

.box-item-title a:hover{
	color: #111;
}

.box-item-buy{
	
	background-color: #000;
	width: 100%;
	height: 100%;
}

.add-but{
	position: relative;
}

.add-but a{
    display: block;
    height: 40px;
    width: 40px;
    overflow-y: visible;
    position: relative;
    z-index: 4;
}

.add-but a   .second-add{
	position: absolute;
	color: #fff;
	width: 100%;
	left:0;
	top:0;
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ;
	z-index: 3;
	background-color: #FF3D5D;
}


.add-but .addToCart:before,  .add-but .addToMore:before{
	background-color: #70051F;
    color: #FFFFFF;
    font-size: 22px;
    height: 100%;
    left: 0;
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    z-index: 4;
}

.add-but .addToCart:after, .add-but .addToMore:after{
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-color: #CD2549;
    color: #FFFFFF;
    font-size: 22px;
    height: 100%;
    left: 40px;
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    z-index: 5;
}

.add-but .addToMore:before{
	background-color: #000;
}

.add-but .addToMore:after{
	background-color: #CD2549;
}

.add-but .addToCart:hover  .second-add,.add-but  .addToMore:hover  .second-add{
	top: -50%;
}

.add-but .addToCart:hover:before, .add-but  .addToMore:hover:before{
	left: -40px;
}

.second-add:hover{
	top: -50%;
}

.add-but .addToCart:hover:after, .add-but .addToMore:hover:after{
	left: 0;
}


.box-item-price{
	color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
}

.box-item-price{
	color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
}

/*----THE END-----the content----*/


/*----------footer------*/

.main-foot{
	margin: 0 auto;
	max-width: 960px;
	padding-bottom: 70px;
}

.footer-box{
	width: 25%;
	padding-right: 10px;
}

.sub-footer-box{
	width: 100%;
}

.footer-box-title{
	margin-bottom: 20px;
}

.categories-links a{
	color: #535353;
	display: block;
	font-size: 13px;
	font-weight: bold;
}

.categories-links a:hover{
	color: #FF4970;
}

.under-foot{
	color: #373737;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px 0;
	border-top: 1px solid #EFEFEF;

}

.copy a{
	color:#FF3D5D;
}

.copy a:hover{
	color: #373737;
}


/*---THE END-------footer------*/





/*--------------------item page-------------*/
.content-wrapper{
	max-width: 960px;
	margin:15px auto;
}

.main-content{
	max-width: 720px;
}

.breadcrumb{
	background: none repeat scroll 0 0 #CB2449;
    border: medium none;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 12px 10px 12px 20px;
     margin: 0 0 32px;
     text-transform: capitalize;
}

.breadcrumb a{
	color: #fff;
}

.breadcrumb a:hover{
	color: #000;
}

.sidebar{
	width: 230px;
}

.sidebar .title, .item-page-info .item-title{
	margin: 0 0 10px;
    padding: 17px 0;
}




.item-page-image{
	float: left;
    margin: 0 20px 20px 0;
    position: relative;
    width: 308px;
}

.item-page-image img{
	display: block;
}


.item-page-image figure a{
	border: 1px solid #E8E8E8;
	float: left;
}

.zoom a{
	margin: 5px 3px 0 0 ;
}

.zoom-desc{
	width: 310px;
}


.item-page-info{
	max-width: 390px;
}


.item-page-desc-quantity, .item-page-price-section, .item-page-info .item-title{
	border-bottom: 1px solid #E9E9E9;
}

.item-page-info .item-title{
	padding-bottom: 40px;
	margin-bottom: 10px;
}

.item-page-price-section{
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.item-page-price-section strong{
	font-size: 18px;
}




.item-page-info{
	text-transform: capitalize;
}

.item-page-info a{
	color: #000;
}

.category a:hover{
	color:#CB2449;
}







/*--------THE END------------item page-------------*/







