html{
	background: #333 url(../images/html-bg.jpg) 0 0 repeat;
	height: 100%;
}

body{
	background: #333 url('../images/body-bg.png') center 0 repeat-x;
	 height: auto;
    min-height: 100%;
    padding: 0 0 80px;
    position: relative;
    width: 100%;
}

.full-wrapper{
	outline: 1px solid #000; /*Tmep*/
	max-width: 1004px;
	margin: 0 auto 80px;
}


/*header*/

.main-head{
	background: #000 url('../images/top-menu-bg.jpg') 0 0 repeat;
}

.main-head, .wrapper{
    padding: 20px 25px;
}


.top-menu a, .phone, .phone a{
	font-size: 14px;
	font-weight: bold;
}


.top-menu{
	margin:5px 0;
	max-width: 650px;
}

.top-menu a{
	margin: 3px 0;
}

.top-menu a:hover, .phone a{
	color: #FF3D5D;
}

.top-menu a:before{
	content: ".";
    font-size: 28px;
    line-height: 5px;
    margin: 0 10px;
    vertical-align: top;
}

.top-menu a:first-child:before{
	content: " ";
	margin: 0;
}

.phone{
	margin:5px 0;
}

.phone, .phone a{
	text-transform: capitalize;
	vertical-align: middle;
}

.phone a:hover{
	color: #fff;
}

/* THE END header*/